// @import "partials/vendor";

// * {
//     color: red;
// }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.message {
    border-radius: 0px !important;
    padding: 30px 25px !important;
    
    &,
    * {
        font-family: 'Open Sans', sans-serif !important;
    }

    .cta-container {
        padding: 0 !important;
        width: auto !important;
        background: none !important;

        [class*="cta-"] {
            background: none !important;
        }
    }

    .message-button {
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        border-radius: 52px !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        background-image: none !important;

        &[style*="color: rgb(255, 255, 255)"] {
            background: #2789fc !important;

            &:hover {
                border: 0;
                background-color: #0053B3 !important;
            }
        }
    }
}